body {
   background-image: url(../img/1.jpg);
   background-size: cover;
   background-position: center
}

.container {
    outline:;
    width: 700px;
    border: 2px solid black;
    margin: auto;
    padding: 20px;

    border-radius: 9px;
    background-color: blanchedalmond;
    margin-top: 50px;
}

input {
    margin-left: 10px;
    width: 250px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
}

form {
    text-align: center;
}

button {
    background-color: rgb(175, 230, 173);
    height: 35px;
    /* width: 120px; */
    border-radius: 8px;
}

.tambah {
    font-size: 12px;
    width: 100vh;
    font-weight: bold;
}


.filter-delete {
    display: flex;
    justify-content: space-between; /* kasih jarak kiri-kanan */
    align-items: center;            /* biar sejajar tengah */
     
}
.pilihan {
    text-align: center;
    margin-left: 10px;
    width: 260px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

 .filter {
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    width: 100px;
}

.del {
    width: 90px;
    background-color: lightcoral;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.tabel table{
    margin-bottom: 20px;
    margin: auto 20;
}

table {
    border-collapse: collapse;  /* biar border nya nyambung */
    border: 2px solid rgb(9, 231, 235);
    width: 100%;
}

table tr  th  {
padding: 6px;
}

table tr  td  {
padding: 6px;
}



.summary {
    display: flex;              /* biar sejajar ke samping */
    justify-content: space-between; /* kasih jarak rata */
    padding: 5px;
    border-radius:8px;
    margin: auto;
    background-color: white;
    width: 730px;
    min-height: 70px;
    height: auto;
    margin-top: 40px;
    outline: 2px solid black; /* kasih outline hitam */
}   
 

.box {
  flex: 1;                    /* semua kotak punya lebar sama */
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-left: 2px;

}

 
.total {
   border: 2px solid black;     
}

.complete {
   border: 2px solid black;
}

.pending {
   border: 2px solid black;
}

.progress {
  border: 2px solid black;
}
